Manifesto Title:<br />
<%= text_field :manifesto, :title, :maxlength => 50 %><br />
Author:<br />
<%= text_field :manifesto, :author, :maxlength => 50 %><br />
Author e-mail:<br />
<%= text_field :manifesto, :email, :maxlength => 50 %><br />
Manifesto Description:<br />
<%= text_area :manifesto, :description %><br />
